body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.jumbotron{
  background-color: #282c34;
  position: absolute;
  border: 4px solid white;
  top: 25vh;
  width: 400px;
  justify-content: center;
  background-color: #373b42;
  font-size: 20pt;  
  left: calc(50vw - 200px);
  height: 50vh;
}
.jumbotron .btn{
  
  position: relative;
  
  top: 0;
  
  justify-content: center;
  
  
}
header .nav{
  position: absolute;
  top: 20vh;
  width: 400px;
  font-size: 20pt;
}
header *{

  height: 68.75px;
}
footer .myFooter{
  position: absolute;
  border: 4px solid white;
  top: 70vh;
  width: 400px;
  justify-content: center;
  background-color: #373b42;
  font-size: 20pt;
  color: #ffffff;
  left: calc(50vw - 200px);
 
}


footer{
  display: flex;
  justify-content: center;
}